<section class="servers-component">
  <label>Server name is {{ serverName }}</label>
  <!-- <input
    type="text"
    class="form-control mb-2"
    (input)="onUpdateServerName($event)"
  /> -->
  <input type="text" class="form-control mb-2" [(ngModel)]="serverName" />
  <button
    class="btn btn-primary mb-2"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
  >
    Add Server
  </button>
  <!-- <p>{{ serverName }}</p>
  <p>{{ serverCreationStatus }}</p> -->
  <p *ngIf="serverCreated">
    Server was created! Server name is {{ serverName }}.
  </p>
  <ng-template #noServer>
    <p>No server created!</p>
  </ng-template>
  <app-server></app-server>
  <app-server></app-server>
</section>
